@font-face {
    font-family: 'SutonnyMJ';
    src: url('./fonts/SutonnyMJ.woff2') format('woff2'),
        url('./fonts/SutonnyMJ.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

article {
    font-family: 'SutonnyMJ';
}